
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!--<meta name="viewport" content="width-device-width">-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        {% load staticfiles %}
        <link rel="stylesheet" href= "{% static 'music.css' %}">
        
        
        <title>Main</title>
    </head>
    <body>
        <div class="container fluid">
            <nav class="navbar">
                <div class="navbar-header">
                    <div class="col-md-1">
                        <a class="navbar-brand" href="#">
                            <img src="{% static 'notes.png' %}"> 
                        </a>
                    </div>
                    <div class="col-md-10">
                        <h4 class="navbar-text">Music Sheet</h4>
                    </div>
                </div>
            </nav>
                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav nav-tabs nav-stacked">
                            <li><a href="/gallery/">To gallery</a></li>
                        </ul>
                    </div>
                    <div class="col-md-10 jumbotron">
                       
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <h3>Let's get started</h3>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row">
                                <br>
                            </div>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-4">
                                    <ul class="nav nav-tabs nav-stacked">
                                        <li><a type="button"  href="/Add/">Add music sheet</a></li>
                                    </ul>
                                    
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <ul class="nav nav-tabs nav-stacked" id="buttons">
                                        <li><a type="button" href="/Delete/">Delete music sheet</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                </div>
            
            <div class="footer">
                <div class="container">
                    <p>Testing Django app</p>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>